@import "variable&mixins";

// GLOBAL STYLING
@import "global";

// ************** MAIN STYLING **************
.container {
  width: 85%;
  max-width: 1140px;
  margin: 0 auto;
}

// ******************** HEADER SECTION STARTS ********************
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.3s ease-in-out 0s;
  z-index: 99;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 2rem;

  .logo {
    font-size: 2.5rem;
    font-family: $petrona-font-subtitle;
  }
  .nav-list {
    flex: 1;
    text-align: right;

    .nav__item {
      display: inline-block;
      position: relative;
      margin: 0 15px;
      cursor: pointer;
    }

    .nav__link {
      @include fontRegular();
    }

    .nav__link--contact {
      background-color: #dd5e89;
      padding: 1rem 1.7rem 1.2rem 1.7rem;
      border-radius: 5px;
      transition: 0.3s ease;
      font-weight: 500;
      color: white;
    }
    .nav__link--contact:hover {
      background-color: #f692c6;
      cursor: pointer;
      color: #181433;
    }
  }
}
.hover-link::after {
  content: "";
  width: 0;
  height: 2px;
  background: #dd5e89;
  display: block;
  margin: auto;
  margin-top: 0.9rem;
  transition: 0.4s;
}
.hover-link:hover::after {
  width: 100%;
}
.active-nav::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #dd5e89;
  display: block;
  margin: auto;
  margin-top: 0.9rem;
}
.hamburger-menu {
  display: none;
}
.cancel-menu {
  display: none;
}

//  **************** HEADER SECTION ENDS ***************

// ***************** HERO SECTION STARTS ***************
.shape {
  position: absolute;
  width: 45px;
  height: 45px;
  background: linear-gradient(
    rgba(243, 165, 145, 0.9) 0%,
    rgba(254, 110, 154, 0.5) 100%
  );
  border-radius: 50%;
  z-index: -1;
}
.shape-1 {
  width: 80px;
  height: 80px;
  left: 110px;
  top: 120px;
}
.shape-2 {
  top: 90px;
  left: 500px;
}
.shape-3 {
  width: 25px;
  height: 25px;
  bottom: 100px;
  left: 300px;
}
.shape-4 {
  width: 60px;
  height: 60px;
  top: 300px;
  right: 200px;
}
.shape-5 {
  width: 20px;
  height: 20px;
  bottom: 150px;
  left: 700px;
}
.hero {
  position: relative;
  padding-top: 12rem;
  min-height: 35vh;
  width: 100%;
  padding-bottom: 7rem;

  // background: url("./bg-circle-1.1.svg"), url("./bg-circle-1.1.svg"),
  //   url("./bg-circle-1.1.svg");
  // background-repeat: no-repeat;
  // background-size: 350px, 300px, 390px;
  // background-position: center right, 50px 50px, 300px 200px;

  .wrapper {
    padding-top: 3.5rem;
    width: 70%;
  }
  .hero__title {
    font-size: 8rem;
    font-family: $montserrat-hero-title;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(312deg, #f692c6, #ffcdb1);
    -webkit-background-clip: text;
    font-style: normal;
    text-transform: uppercase;
  }
  .hero__subtitle {
    font-family: $petrona-font-subtitle;
    font-size: 4.3rem;
    padding-top: 0rem;
    padding-bottom: 2.5rem;
  }
  .hero__description {
    @include fontRegular();
    font-size: 2rem;
    color: #c9c0c0;
  }
  .social-icons {
    padding-top: 3.8rem;
  }
  .social-icons a:not(:first-child) {
    margin-left: 2.5rem;
  }

  .social-icons img {
    width: 33px;
    transition: 0.5s;
  }

  .social-icons a:hover img {
    transform: translateY(-5px);
  }
  .arrows {
    top: 440px;
  }
  @import "scrolldownSvg";
}

// ***************** HERO SECTION ENDS ****************

// ***************** ABOUT SECTION STARTS *******************
.about {
  @include sectionPadding();
  .row {
    @include flex();
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .about__title {
    @include fontSubtitle();
  }
  .about__title::before {
    @include subtitleBar();
  }
  .about__left {
    padding-top: 5rem;
    width: 45%;
    p {
      @include fontRegular();
    }
    .resume-btn {
      margin-top: 4.5rem;
    }
    .btn {
      @include button;
    }
    .btn:hover {
      background-color: #f692c6;
      cursor: pointer;
      color: #181433;
    }
  }
  .about__right {
    width: 50%;
  }
}
// ***************** ABOUT SECTION ENDS *******************

// ***************** PORTFOLIO SECTION STARTS *******************
.portfolio {
  @include sectionPadding();
  .portfolio__title {
    @include fontSubtitle();

    &::after {
      @include subtitleBar();
    }
  }

  .project__wrapper {
    @include flex();
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
  }
  .project__wrapper + .project__wrapper {
    padding-top: 6rem;
  }
  .project__image {
    width: 50%;
    img {
      border-radius: 3px;
    }
  }
  .project__description {
    width: 45%;

    .app-title {
      font-family: $petrona-font-subtitle;
      font-size: 2.5rem;
    }
    .tech-stack {
      font-size: 2rem;
    }
    .app-description {
      @include fontRegular();
      margin-bottom: 4rem;
    }
    .app-description--container {
      background: #211c41;
      padding: 1.5rem 1.8rem;
      border-radius: 6px;
      margin-top: 1rem;
    }
  }
  .app-icons {
    display: flex;
    align-items: center;

    a:not(:first-child) {
      margin-left: 1.5rem;
    }
    a {
      transition: 0.4s;
    }
    a:hover {
      transform: translateY(-5px);
    }
  }
  .portfolio__btn {
    @include button();
  }
}

// ***************** PORTFOLIO SECTION ENDS *******************

// ***************** OTHER PROJECTS SECTION STARTS *******************

.other-projects {
  padding-top: 6.5rem;

  .other__title {
    @include fontSubtitle();
    text-align: center;
    margin-bottom: 3rem;
  }

  /*General Styling*/
  img {
    max-width: 100%;
    height: auto;
  }
  small {
    @include fontRegular();
  }

  /*Card Styling*/

  .card {
    background-color: #211c41;
    padding: 2.7rem 2.2rem;

    &::before {
      content: "Website";
      font-size: 13px;
      background: #dd5e89;
      padding: 0.3rem 0.9rem;
      border-radius: 50px;
      width: 60px;
      margin-bottom: 1.5rem;
    }
    &__wrap {
      &--inner {
        padding: 12px;
      }
    }

    &__item {
      @include fontSubtitle();
      font-size: 2.3rem;
    }
    .name {
      text-transform: capitalize;
      padding-bottom: 1rem;
    }
    .stack {
      padding: 2.5rem 0 1rem 0;
      display: block;
    }
    &__footer {
      display: flex;
      align-items: center;
      overflow: hidden;

      a + a {
        margin-left: 1.5rem;
      }
    }
  }

  /*Card Flex Code*/

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__wrap {
      &--outer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }

      &--inner {
        display: flex;
        flex-direction: row;
        width: 100%;

        @media (min-width: 700px) {
          width: 50%;
        }

        @media (min-width: 1024px) {
          width: 33.33%;
        }
      }
    }
  }

  .flexible {
    flex-grow: 1;
  }
}
// ***************** OTHER PROJECTS SECTION ENDS *******************

// ***************** SKILLS SECTION STARTS *******************
.skills {
  @include sectionPadding();
  .skills__title {
    @include fontSubtitle();
  }
  .skills__title::before {
    @include subtitleBar();
  }

  .skills__wrapper {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 40px;
  }
  .skill {
    text-align: center;
    img {
      width: 100px;
      transition: 0.4s;
    }
    img:hover {
      transform: translateY(-7px);
    }
    p {
      @include fontRegular();
    }
  }
  .skills__more {
    font-family: $petrona-font-subtitle;
    font-size: 2.5rem;
    text-align: center;
  }
}
// ***************** SKILLS SECTION ENDS *******************

// ***************** FOOTER SECTION STARTS *******************
.footer {
  @include sectionPadding();
  padding-bottom: 3rem;
  .footer__title {
    @include fontSubtitle();
  }
  .footer__title::after {
    @include subtitleBar();
  }
  .footer__details {
    text-align: center;
    padding: 5rem 0;
  }
  .footer__details--left {
    margin-bottom: 4rem;
    p {
      font-family: $space-grotesk-regular-font;
      font-size: 3rem;
      font-weight: 500;
    }
  }
  .footer__details--right {
    img {
      width: 30px;
    }
    p {
      font-family: $space-grotesk-regular-font;
      font-size: 2rem;
      font-weight: 500;
      color: #f692c6;
      margin-bottom: 1.3rem;
    }
    .stalk-me {
      margin-top: 3.5rem;
    }
    .footer__btn {
      @include button();

      &:hover {
        background-color: #f692c6;
        cursor: pointer;
        color: #181433;
      }
    }
    .footer-icons {
      a + a {
        margin-left: 2rem;
      }
      a {
        transition: 0.4s;
      }
      a:hover {
        transform: translateY(-5px);
      }
    }
  }
  .copyright {
    @include fontRegular();
    text-align: center;

    span {
      -webkit-text-fill-color: transparent;
      background: -webkit-linear-gradient(312deg, #f692c6, #ffcdb1);
      -webkit-background-clip: text;
      font-style: normal;
      font-weight: 600;
    }
  }
}

.back_to_top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 47px;
  height: 47px;
  background-color: #dd5e89;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.back_to_top--intersecting {
  opacity: 1;
}
.sticky-navbar {
  position: fixed;
  background-color: #110a3f;
  width: 100%;
  z-index: 1;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

// ***************** FOOTER SECTION ENDS *******************

// *************** MOBILE VERSION *****************
@import "mediaQuery";
.shape {
  animation: pulse 2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.9);
  }
}
